* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}


body {
  background: #fbe3e8;
  height: 100vh;
  width: 100%;
  padding: 10px;
}

.wrapper {
  background: white;
  width: 100%;
  max-width: 600px;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.1);
}

.header {
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
}

.todo-input-grid {
  display: flex;
  width: 100%;
  height: 45px;
  margin: 20px 0;
}

.todo-name {
  width: 50%;
}

.todo-due-date {
  width: 35%;
}

.todo-name,
.todo-due-date {
  height: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 10px;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.todo-name:focus {
  border-color: #5cbdb9;
}


.add-button {
  flex: 1;
  height: 100%;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
  background: rgb(6, 162, 162);
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.add-button:hover {
  opacity: 1;
}
.todo-list {
  max-height: 250px;
  overflow-y: auto;
}

.todo-item {
  display: grid;
  grid-template-columns: 50% 35% 15%;
  align-items: center;
  padding: 6px 10px;
  margin-bottom: 8px;
  background: #ebf6f5;
  border-radius: 3px;
}


.delete-button {
  background-color: rgb(209, 67, 67);
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}
